  <h1 class="m-2">Dashboard</h1>
  
  <div class="post container">

    <form class="form post-form">
      <div class="form-group">
        <label for="new-title">Title:</label>
        <input class="form-input" type="text" id="new-title" />
      </div>
      <div class="form-group">
        <label for="new-content">Content:</label>
        <input class="form-input" type="text" id="new-content" />
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">Add New Post</button>

      </div>
    </form>

  </div>  

<script src="/js/newPost.js"></script>